*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgba(73, 73, 73, 0.877);
    width: 100%;
    height: 70px;
    z-index: 999;
}

ul{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top: 20px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color:azure;
}

a:hover{
    color: aqua;
    cursor: pointer;
    font-weight: bold;
}


.perfil01{ /*primeira div para os perfis*/
    padding-top: 25px;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 3px solid black;
}

.perfil02{
    padding-top: 25px;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: 3px solid black;
}

.rel{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.678);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-right: 80px;
}

.fotoPerfil01{
    position: absolute;
    width: 450px;
    height: 450px;
    left: -20px;
    transition: all 300ms linear;
}

.fotoPerfil02{
    position: absolute;
    width: 450px;
    height: 450px;
    left: -20px;
    transition: all 300ms linear;
}

.fotoPerfil01:hover{
    transform: scale(1.2);
    transition: all 600ms linear;
}

.fotoPerfil02:hover{
    transform: scale(1.2);
    transition: all 600ms linear;
}

.nome{
    border: 2px solid black;
    border-radius: 15px ;
    text-align: center;
    font-size: 40px;
}

.descDiv{
    border: 2px solid black;
    border-radius: 10px;
    font-size: calc(10px + 1.5vh);
    width: 40vw;
    height: 25vh;
    padding: 10px;
    margin-top: 30px;
}


.tecno{ /*primeira div das tecnologias*/
    padding-top: 60px;
    width: 100%;
    height: 110vh;
    background-color: darkgrey;
    border-bottom: 3px solid black;
}

.tecnologias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc(20px + 5vw);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TecDiv{
    position:relative;  
    width: calc(50px + 15vw);
    height: calc(135px + 60vh);
    border: 2px solid rgb(75, 75, 75);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align:justify;
    align-items: center;
    transition: all 100ms linear;
    margin-top: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.TecDiv:hover{
    border: 2.5px solid aqua;
    font-size: 18px;
    transform: scale(1.1);
    transition: all 200ms linear;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.relImgTec{
    position: relative;
    height: 120px;
    width: 120px;  
    margin-bottom: 35px;
    margin-top: 5px;
    overflow: hidden; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 25%;
}

.ImgTec1{
    position: absolute;
    height: 140px;
    width: 140px;
    left: -9px;
    top: -7px;
}

.ImgTec2{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 9px;
    top: 16px;
}

.ImgTec3{
    position: absolute;
    height: 110px;
    width: 110px;
    left: 6px;
    top: 8px;
}


.contatoDiv{ /*Primeira div para o contato*/
    padding-top: 90px;
    padding-bottom: 70px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.leftContact{
    width: 600px;
    height: 500px;
    border: 3px solid rgb(76, 80, 76);
    background-color: rgb(219, 236, 219);
    align-items: center;
    text-align: center;
}

.contatoTexto{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.labelContato{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: wrap;
    margin-bottom: 50px;
    font-size: 20px;
}

input{
    width: 70%;
    height: 25px;
    background-color: rgb(0, 92, 61);
    color: aliceblue;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#msg{
    margin-top: 30px;
    border: none;
    background-color: greenyellow;
    border-radius: 25px;
    width: 200px;
    height: 30px;
}

#msg:hover{
    border: 2px solid rgb(27, 116, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.rightContact{
    width: 600px;
    height: 500px;
    border: 3px solid rgb(76, 80, 76);
    background-color: rgb(219, 236, 219);
    color: rgb(76, 80, 76);
    text-align: center; 
}

#textRight{
    margin-top: 20px;
    color: rgb(36, 35, 35);
    font-size: 20px;
}

.confirma_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: wrap;
    font-size: 20px;
    margin: 80px 0px 0px 0px;
}

#confNome{
    position: relative;
    margin: 10px;
    margin-bottom: 50px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 92, 61);
    border-radius: 5px;
    width: 450px;
    color: aliceblue;
}

#confMsg{
    position: relative;
    margin: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 92, 61);
    border-radius: 5px;
    width: 450px;
    color: aliceblue;
}

#enviar{
    margin-top: 20px;
    border: none;
    background-color: greenyellow;
    border-radius: 25px;
    width: 200px;
    height: 30px;
}

#enviar:hover{
    border: 2px solid rgb(27, 116, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

